<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Games Process</title>

    <meta name="description" content="Games Process App: For processing data">
    <meta name="author" content="Odukoya Jesuseyitan">

    <!-- App Favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    @*<environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>*@

    @if ((string)(ViewData["Controller"]) == "AdvancedSearch")
    {
        <!-- DataTables -->
        <link href="~/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <!-- Responsive datatable examples -->
        <link href="~/assets/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    }

    <!-- Switchery css -->
    <link href="~/assets/plugins/switchery/switchery.min.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- App CSS -->
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    <!-- Modernizr js -->
    <script src="~/assets/js/modernizr.min.js"></script>

</head>

<body class="fixed-left">

    @* App Page *@
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
                <!-- TODO: Fix Link -->
                <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">
                    <i class="zmdi zmdi-spinner icon-c-logo"></i>
                    <span>Games Process</span>
                </a>
            </div>

            <nav class="navbar-custom">

                <ul class="list-inline float-right mb-0">

                    <li class="list-inline-item notification-list">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link waves-effect waves-light">
                            <i class="zmdi zmdi-home noti-icon"></i>
                            <span class="noti-icon-badge"></span>
                        </a>
                    </li>

                    <li class="list-inline-item dropdown notification-list">
                        <a class="nav-link waves-effect waves-light right-bar-toggle" href="javascript:void(0);">
                            <i class="zmdi zmdi-format-subject noti-icon"></i>
                        </a>
                    </li>

                </ul>

                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left waves-light waves-effect">
                            <i class="zmdi zmdi-menu"></i>
                        </button>
                    </li>
                </ul>

            </nav>

        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <ul>
                        <li class="text-muted menu-title">Navigation Links</li>

                        <li class="has_sub">
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="waves-effect"><span class="label label-pill label-primary float-right">0</span><i class="zmdi zmdi-home"></i><span> Home </span> </a>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-search-in-file"></i> <span> Search </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a asp-area="" asp-controller="AdvancedSearch" asp-action="Index">Simple Search</a></li>
                                <li><a asp-area="" asp-controller="AdvancedSearch" asp-action="Index">Advanced Search</a></li>
                            </ul>
                        </li>


                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-ungroup"></i> <span> Events </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">

                                <li><a asp-area="" asp-controller="Events" asp-action="Index">All Events</a></li>
                                <li><a asp-area="" asp-controller="Events" asp-action="Create">Add Event</a></li>
                                <li><a asp-area="" asp-controller="Events" asp-action="Edit">Edit Event</a></li>
                                @*<li><a asp-area="" asp-controller="Events" asp-action="Delete">Delete Events</a></li>*@
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-gamepad"></i> <span> Games </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a asp-area="" asp-controller="Games" asp-action="Index">All Games</a></li>
                                <li><a asp-area="" asp-controller="Games" asp-action="Create">Create Games</a></li>
                                <li><a asp-area="" asp-controller="Games" asp-action="Edit">Edit Games</a></li>
                               @* <li><a asp-area="" asp-controller="Games" asp-action="Delete">Delete Games</a></li>*@
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-group"></i> <span> Game Groups </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a asp-area="" asp-controller="Groups" asp-action="Index">All Groups</a></li>
                                <li><a asp-area="" asp-controller="Groups" asp-action="Create">Create Groups</a></li>
                            </ul>
                        </li>

                        <li class="text-muted menu-title">More</li>
                        <li class="has_sub">
                            <a href="#" class="waves-effect"><i class="zmdi zmdi-info"></i><span> About </span> </a>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>

            </div>

        </div>
        <!-- Left Sidebar End -->
        @* Main Content *@
        <div class="content-page">

            <div class="content">

                <div class="container-fluid">

                    <div class="row">
                        <div class="col-xl-12">
                            <div class="page-title-box">
                                <h4 class="page-title float-left">@ViewData["PageTitle"]</h4>

                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Games Process</a></li>
                                    <li class="breadcrumb-item"><a asp-area="" asp-controller="@ViewData["Controller"]" asp-action="Index">@ViewData["ControllerName"]</a></li>
                                    <li class="breadcrumb-item active">@ViewData["PageTitle"]</li>
                                </ol>

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                    @RenderBody()

                </div>

            </div>

        </div>

        <!-- Right Sidebar -->
        <div class="side-bar right-bar">
            <div class="nicescroll">
                <ul class="nav nav-pills nav-justified text-xs-center">
                    <li class="nav-item">
                        <a href="#home-2" class="nav-link active" data-toggle="tab" aria-expanded="false">
                            To Do
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#messages-2" class="nav-link" data-toggle="tab" aria-expanded="true">
                            Settings
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade active show" id="home-2">
                        <div class="timeline-2">
                            <div class="time-item">
                                <div class="item-info">
                                    <small class="text-muted">5 minutes ago</small>
                                    <p>
                                        <strong><a href="#" class="text-info">Search History</a></strong> To Be implemented soon
                                    </p>
                                </div>
                            </div>

                            <div class="time-item">
                                <div class="item-info">
                                    <small class="text-muted">30 minutes ago</small>
                                    <p> You downloaded the <a href="" class="text-info">result</a> from your search as pdf.</p>
                                    <p><em>"Add feature that allows downloading of search result soon. "</em></p>
                                </div>
                            </div>

                            <div class="time-item">
                                <div class="item-info">
                                    <small class="text-muted">59 minutes ago</small>
                                    <p><a href="" class="text-info">Download</a> saved <a href="#" class="text-success">result</a>.</p>
                                    <p><em>"Add feature that allows saving of results for future downloads. "</em></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="messages-2">

                        <div class="row m-t-10">
                            <div class="col-8">
                                <h5 class="m-0">Notifications</h5>
                                <p class="text-muted m-b-0"><small>Do you need them?</small></p>
                            </div>
                            <div class="col-4 text-right">
                                <input type="checkbox" checked data-plugin="switchery" data-color="#1bb99a" data-size="small" />
                            </div>
                        </div>

                        <div class="row m-t-10">
                            <div class="col-8">
                                <h5 class="m-0">Save Results</h5>
                                <p class="m-b-0 text-muted"><small>Enable/Disable access</small></p>
                            </div>
                            <div class="col-4 text-right">
                                <input type="checkbox" checked data-plugin="switchery" data-color="#1bb99a" data-size="small" />
                            </div>
                        </div>

                        <div class="row m-t-10">
                            <div class="col-8">
                                <h5 class="m-0">Search History</h5>
                                <p class="m-b-0 text-muted"><small>See Previous Searches</small></p>
                            </div>
                            <div class="col-4 text-right">
                                <input type="checkbox" checked data-plugin="switchery" data-color="#1bb99a" data-size="small" />
                            </div>
                        </div>

                        <div class="row m-t-10">
                            <div class="col-8">
                                <h5 class="m-0">Download Results</h5>
                                <p class="m-b-0 text-muted"><small>Bownload Previous Results</small></p>
                            </div>
                            <div class="col-4 text-right">
                                <input type="checkbox" checked data-plugin="switchery" data-color="#1bb99a" data-size="small" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end nicescroll -->
        </div>
        <!-- /Right-bar -->

        <footer class="footer text-right">
            &copy;2020 setoryz@gmail.com.
        </footer>



    </div>
    @* End Wrapper *@

    @*
            <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Games Process</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Games" asp-action="Index">Games</a></li>
                        <li><a asp-area="" asp-controller="Events" asp-action="Index">Events</a></li>
                        <li><a asp-area="" asp-controller="AdvancedSearch" asp-action="Index">Advanced Search</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container body-content">


            @RenderBody()


            <hr />
            <footer>
                <p>&copy; 2019 - Games Process</p>
            </footer>
        </div>
    *@

    @*<environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>*@

    <script>
        var resizefunc = [];
    </script>

    <!-- jQuery  -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/tether.min.js"></script>
    <!-- Tether for Bootstrap -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/detect.js"></script>
    <script src="~/assets/js/fastclick.js"></script>
    <script src="~/assets/js/jquery.blockUI.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/jquery.nicescroll.js"></script>
    <script src="~/assets/js/jquery.scrollTo.min.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/plugins/switchery/switchery.min.js"></script>

    <!--Morris Chart-->
    <script src="~/assets/plugins/morris/morris.min.js"></script>
    <script src="~/assets/plugins/raphael/raphael-min.js"></script>

    <!-- Counter Up  -->
    <script src="~/assets/plugins/waypoints/lib/jquery.waypoints.js"></script>
    <script src="~/assets/plugins/counterup/jquery.counterup.min.js"></script>

    <!-- App js -->
    <script src="~/assets/js/jquery.core.js"></script>
    <script src="~/assets/js/jquery.app.js"></script>

    <!-- Page specific js -->
    <script src="~/assets/pages/jquery.dashboard.js"></script>

    @if ((string)(ViewData["Controller"]) == "AdvancedSearch")
    {
        <!-- Required datatable js -->
        <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="~/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
        <!-- Buttons examples -->
        <script src="~/assets/plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="~/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
        <script src="~/assets/plugins/datatables/jszip.min.js"></script>
        <script src="~/assets/plugins/datatables/pdfmake.min.js"></script>
        <script src="~/assets/plugins/datatables/vfs_fonts.js"></script>
        <script src="~/assets/plugins/datatables/buttons.html5.min.js"></script>
        <script src="~/assets/plugins/datatables/buttons.print.min.js"></script>
        <script src="~/assets/plugins/datatables/buttons.colVis.min.js"></script>
        <!-- Responsive examples -->
        <script src="assets/plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="assets/plugins/datatables/responsive.bootstrap4.min.js"></script>


        <script type="text/javascript">
            $(document).ready(function () {
                $('#datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: true,
                    ordering: false,
                    buttons: ['copy', 'excel', 'pdf', 'colvis']
                });

                table.buttons().container()
                    .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });
        </script>
    }

    @RenderSection("Scripts", required: false)
</body>
</html>
